button {
  all: none
}

body {
  background-color: rgb(36, 36, 36);
  font-family: sans-serif;
}

.game {  
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 50px; 
  gap: 50px; 
}
.game__table {
  display: flex;
  position: relative;
  width: calc(100% - 100px);
  height: calc(80vh);
  border-radius: 50px;
  background-color: #D9D9D9;
  justify-content: center;
}
.button {
  padding: 20px 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid grey;
  font-size: 3.125rem;


  &:hover {
    background-color: green;
    border: 1px solid transparent
  }
  &--hidden {
    display: none;
  }
}
.button__give-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  &--hidden {
    display: none;
  }

}



.card__field {
  display: none;
  &--visible {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}





.bg-green {
  background-color: red;
}

.score__board {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 2rem;
  &--invisible {
    display: none;
  }
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.4s;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  pointer-events:none;

}
.card__face {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  backface-visibility: hidden;
}
.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}
